<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="/pies/{{pie.id}}/update" method="post">
        <p>
            Name:
            <input type="text" name="name" id="" value="{{pie.name}}">
        </p>
        <p>
            Filling:
            <input type="text" name="filling" id="" value="{{pie.filling}}">
        </p>
        <p>
            Crust:
            <input type="text" name="crust" id="" value="{{pie.crust}}">
        </p>
        <button>Edit Pie</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>