<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PyPie Derby</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Pie By</th>
            <th>Votes</th>
        </thead>
        <tbody>
            {% for pie in pies %}
                <tr>
                    <td>
                        <a href="/pies/{{pie.id}}">{{pie.name}}</a>
                    </td>
                    <td>{{pie.creator}}</td>
                    <td>{{pie.total_votes}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>